<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {% load static %}
    {% load compress %}
    {% compress css %}
        <!-- <link type="text/x-scss" href="{% static '/bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen"> -->
        <link type="text/x-scss" href="{% static '/theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <script src="https://kit.fontawesome.com/3b2d65f8fa.js" crossorigin="anonymous"></script>

  </head>
  <body>
    
<main>
<!-- header & links -->
<!-- justify-content-center 
d-flex flex-wrap py-3 mb-4 border-bottom
-->
  <div class="bg-dark py-5">
    <div class="container">
      <div class="container text-center">
        <!-- javascript type in title -->
        <!-- todo: make js use inner html and then refer to variable -->
        <h1 class="text-special text-light" data-target-resolver>
          &nbsp;
        </h1>
        
        <!-- <h1>Hi, I'm Anna</h1> -->
        <p class="text-mono text-primary "> 
          {{herosubtitle}} 
        </p>
      </div>
    </div>
    {% if tiles %}
    <ul class="nav nav-pills justify-content-center flex-column flex-sm-row">
      {% for k, v in tiles.items %}
      <li class="nav-item mx-4 my-2">
        <a href="{{v.link}}" class="nav-link bg-light text-dark active">
        <i class="{{v.icon}}"></i>
        {{ v.field }}  
      </a>
    </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
<!-- END header & links -->

    <div class="container">
      <!-- <div class="row">
        <div class="col-sm mx-md-5"> -->
      {% block content %}
      {% endblock %}
    <!-- </div>
    </div> -->
    </div>

  <footer class="mt-4 py-4 text-primary bg-dark">
    &copy; 2021
  </footer>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/javascript" src="{% static '/js/effects.js' %}"></script>
  </body>
</html>

